body {
    background-color: rgb(20, 20, 20);
    font-family: 'Public Pixel';
    --background: rgb(10, 60, 30);
    --snake: rgb(10, 140, 230);
    --head: rgb(25, 115, 190);
    --food: #eb0a0a;
    --font: rgb(225, 225, 225);
}


@font-face {
    font-family: 'Public Pixel';
    src: url('assets/PublicPixel.ttf') format('truetype');
}

.container {
    position: absolute;
    top: 160px;
    left: 30%;
    width: 510px;
    height: 390px;
    background-color: var(--background);
}

.scoreboard {
    position: absolute;
    top: 110px;
    left: 30%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    background-color: rgb(5, 40, 30);
    width: 510px;
    height: 50px;
    border-bottom: 1px solid rgb(30, 80, 10);
    color: var(--font);
    font-size: 15px;
}

.game-over {
    position: absolute;
    top: 280px;
    left: 500px;
    color: var(--font);
    z-index: 1;
}

.control {
    position: absolute;
    left: 250px;
    border: none;
    border-radius: 10px;
    background-color: rgb(20, 140, 50);
    width: 50px;
    height: 25px;
    outline: none;
    font-size: 15px;
    color: var(--font);
}

.control:hover {
    background-color: rgb(10, 90, 30);
}

.control:active {
    transform: scale(.96);
}

.snake {
    background-color: var(--snake);
}

.head {
    background-color: var(--head);
}

.food {
    background-color: var(--food);
    border-radius: 12px;
}

.dot {
    position: absolute;
    height: 30px;
    width: 30px;
}

.swal2-title {
    font-size: 16px;
    margin-top: 10px;
}

.swal2-actions button {
    font-family: 'Public Pixel', sans-serif;
}

.title {
    position: absolute;
    top: 15px;
    left: 36%;
    color: var(--font);
}