body {
    background-color: rgb(20, 20, 20);
    --background: rgb(40, 40, 40);
    --snake: rgb(170, 170, 20);
    --food: rgb(200, 100, 10);
}


.container {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 700px;
    height: 400px;
    background-color: var(--background);
}

.dot {
    position: absolute;
    height: 20px;
    width: 20px;
    /* border: 1px solid rgba(19, 107, 207); */
}

.head-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.head-left {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.score {
    position: absolute;
    left: 58%;
    top: 11%;
    color: white;
}

.stop {
    position: absolute;
    left: 50%;
    top: 14%;
    border: none;
    border-radius: 10px;
    background-color: red;
    width: 80px;
    height: 30px;
    outline: none;
    font-size: 15px;
}

.stop:hover {
    background-color: rgb(194, 14, 14);
}

.stop:active {
    transform: scale(.95);
}